<template name="chatroom">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12" id="chat-wrapper">
                <h3>Chat</h3>
                <div id="chat">
                    {{#isolate}}
                    {{#each msgs}}
                    <p>
                        {{#with getProfile owner}}
                        <a href="{{url}}" target="_blank"><img class="img-circle" src="{{pic_square}}" onerror="this.src='{{defaultProfilePicture}}';this.removeAttribute('onerror');"/>{{name}}</a>
                        {{/with}}
                        {{action}}:
                        {{#markdownAlternate}}{{{msg}}}{{/markdownAlternate}}
                    </p>
                    {{/each}}
                    {{/isolate}}
                </div>
                <div id="msg-wrap">
                    <a href="https://help.github.com/articles/github-flavored-markdown" target="_blank" class="btn pull-right" title="Github Flavored Markdown"><i class="icon-info-sign"></i></a>
                    <button id="toggle-users-list" class="btn pull-right" title="Users online"><i class="icon-user"></i></button>
                    {{#constant}}
                    <div>
                        <div id="msg-box" class="span9">
                            <textarea  class="field span11" rows="4" type="text" id="msg"></textarea>
                            <div id="msg-counter" class="span1"> 500</div>
                        </div>
                        <button class="msg-send btn btn-primary span3">
                            Send
                        </button>
                    </div>
                    {{/constant}}
                </div>
                <div id="users-list" class="span6" style="display: none;">
                    <h5>Users online</h5>
                    <ul>
                        {{#isolate}}
                        {{#each onlineUsers}}
                        <li><a href="{{superchat.url}}" target="_blank"><img class="img-circle" src="{{superchat.pic_square}}" onerror="this.src='{{defaultProfilePicture}}';this.removeAttribute('onerror');" />{{superchat.name}}</a></li>
                        {{/each}}
                        {{/isolate}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
